.project__list {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: var(--main-color);
}
.block {
  width: 200px;
  height: 300px;
  background-color: black;
  border: 1px solid white;
}
